li {
    list-style: none;
}
a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a span {
    background-color: #0f172a;
    color: #fff;
}

.uk-subnav-pill > .uk-active a {
    background-color: #0f172a;
}

.menu {
    padding: 10px;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
}

hr {
    background-color: #0f172a;
}

.image-details .imgSelected {
    width: 100%;
}

input, select, textarea {
    background: #e6e6e6f9;
}

label {
    margin-bottom: 0.8rem
}
.btn-send {
    background: #0f172a;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.btn-send:active {
    background-color: #1299ae;
}

.uk-category {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.input-img {
    display: none;
}

.dowlaoder i {
    font-size: 3rem;
    cursor: pointer;
}