
/* color: #01bcbd */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > div {
  margin-left: 0.8rem
}

.blox .btn svg {
  margin-right: 0.3rem
}

.bx {
  font-size: 1.5rem;
  margin-left: 0.2rem
}

.toogle {
  display: none;
}

@media (max-width: 784px) {
  .toogle {
    display: flex;
  }

  .toogle > svg {
    margin-left: 0.8rem;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 464px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 370px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}