
/* color: #01bcbd */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > div {
  margin-left: 0.8rem
}

.count-nbre {
  font-size: 0.5rem;
}

.blox .btn div {
  margin-right: 0.3rem
}

.bx {
  font-size: 1.5rem;
  margin-left: 0.2rem
}

.toogle {
  display: none;
}

.font-semibold {
  color: #01bcbd;
}

.block {
  text-decoration: none
}

@media (max-width: 784px) {
  .toogle {
    display: flex;
  }

  .toogle > div {
    margin-left: 0.8rem;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 639px) {
  .toogle-hidden {
    display: block;
  }
}

@media (max-width: 485px) {
  .grid-box {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


#dropdownNotification .text-black {
  color:#01bcbd;
  font-weight: bold;
}
#dropdownNotification .text-xs {
  color: #15253e;
  font-weight: bold;
}


.input-search input:focus {
  border: #15253e;
}

.btn {
  color: #15253e;
  text-decoration: none;
}

.drawer-swipe input{
  margin-left: 1.5rem/* 8px */;
  margin-right: 1.5rem/* 8px */;
}