<span class="uk-width-1-1 span-box uk-margin-small-bottom uk-align-left">Top Mode Homme</span>
<div class="uk-container">
    <div class="pages-vetements uk-margin-top uk-margin-bottom">
      <div class="cards">
        <div class="card card-shopping" *ngFor="let product of products | slice:0:6">
          <img  [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)">
            <div class="description"> 
              <div class="prix-stars">
                  <span class="title" (click)="goToDetailsProduct(product.id)">{{ product.name }}</span>
                  <span class="prix">{{ (product.price) | currency: 'XOF' }}</span>
              </div>
            </div>
            <button class="uk-button uk-button-small" (click)="onAddToShoppingCart(product, userID)">
              Ajouter le produit
            </button>
        </div>
      </div>
    </div>
  </div>