<section class="form-content">
  <div class="uk-card uk-card-default uk-card-body">
    <div>
      <h2>Envoyez l'email de verification</h2>
    </div>
    <div>
      <form [formGroup]="resetForm" (ngSubmit)="onResetPasswordEmail()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="personnel@gmail.com">
          <span mat-icon-button matSuffix >
            <mat-icon>email</mat-icon>
          </span>
          <mat-error *ngIf="!resetForm.valid">
            S'il vous plait, entrez une adresse email valide
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="uk-width-1-1 mt-5">
          <span *ngIf="!isValidForm">Envoyez</span>
          <lord-icon *ngIf="isValidForm"
              src="https://cdn.lordicon.com/mwqnntww.json"
              trigger="loop"
              colors="primary:#FFFFFF"
              state="loop"
              style="width:30px;height:30px">
          </lord-icon>
        </button>
    </form>
    </div>
  </div>
</section>
