<p>reset-password works!</p>

<section class="form-content">
  <div class="uk-card uk-card-default uk-card-body">
    <div>
      <h2>Modifier son mot de passe</h2>
      <span>Connecte-toi et effectue tes achats en toute tranquilité</span>
    </div>
    <div>
      <form [formGroup]="resetForm" (ngSubmit)="onResetPasswordEmail()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="personnel@gmail.com">
          <span mat-icon-button matSuffix >
            <mat-icon>email</mat-icon>
          </span>
          <mat-error *ngIf="!resetForm.valid">
            S'il vous plait, entrez une adresse email valide
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="uk-width-1-1">
          <span *ngIf="!isValidForm">Connexion</span>
          <lord-icon *ngIf="isValidForm"
              src="https://cdn.lordicon.com/mwqnntww.json"
              trigger="loop"
              colors="primary:#FFFFFF"
              state="loop"
              style="width:30px;height:30px">
          </lord-icon>
        </button>
        <div class="links">
          <span>
            Vous êtes nouveau ?
            <a [routerLink]="['/register']"> Créer un compte</a>
          </span>
          <span>
            <a (click)="onResetPasswordEmail()">Mot de passe oublié ?</a>
          </span>
        </div>
    </form>
    </div>
  </div>
</section>
