.uk-container .box-top {
    margin-top: 4rem;
}

.span-box { 
    background: #1d3557;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

@media (max-width: 639px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 445px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.drop-shadow-md >div  {
    padding: 1rem;
}

.grid ul li {
    margin-left: 0.8rem
}

.grid ul li p{
    font-size: 0.8rem;
    font-family: Poppins;
    padding-bottom: 1rem;
}

.uk-overlay {
    height: 100px;
    padding-bottom: 1rem;
}

.uk-overlay h3 {
    color: #01bcbd;
    font-weight: bolder;
}

span {
    color:#1d3557;
    font-size: 1.2rem;
    font-family: "Poppins";
}

.slider-box {
    margin-top: 2rem;
}


@media (max-width: 644px) {

    .uk-overlay h3 {
        font-weight: bolder;
        font-size: .9rem;
    }

    .uk-overlay p {
        font-size: .8rem;
    }
}

@media (max-width: 596px) {

    .uk-overlay h3 {
        font-weight: bolder;
        font-size: .7rem;
    }

    .uk-overlay p {
        font-size: .6rem;
        margin-left: -2rem;
    }
}

/* @media (max-width: 554px) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
} */
mat-grid-tile {
    background-color: #1d3557
}