.uk-container .box-top {
    margin-top: 4rem;
}

.span-box { 
    background: #1d3557;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

@media (max-width: 639px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 445px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 2rem;
        margin-right: 2rem;
    }
}