<!-- <div class="uk-container">
    <app-sidebar></app-sidebar>
    <div class="box-top">
        <span class="uk-width-1-1 span-box uk-margin-small-bottom uk-align-left">Top Fun</span>
        <div class="uk-container">
            <div class="pages-vetements uk-margin-top uk-margin-bottom">
              <div class="cards">
                <div class="card card-shopping" *ngFor="let product of products | slice:0:6">
                  <img  [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)">
                    <div class="description"> 
                      <div class="prix-stars">
                          <span class="title" (click)="goToDetailsProduct(product.id)">{{ product.name }}</span>
                          <span class="prix">{{ (product.price) | currency: 'XOF' }}</span>
                      </div>
                    </div>
                    <button class="uk-button uk-button-small" (click)="onAddToShoppingCart(product, userID)">
                      <i class='bx bxs-cart-add'></i>
                      Ajouter au panier
                    </button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div> -->

<div class="uk-container">
  <app-sidebar></app-sidebar>
  <div class="bg-white drop-shadow-md  my-8">
   <div>
    <span>Nouveauté</span>
    <div class="uk-container slider-box">
        <div uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-light grid" tabindex="-1" uk-slideshow="animation: push">
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-5@m">
                    <li *ngFor="let product of products" width="200" height="300" (click)="goToDetailsProduct(product.id)" class="cursor-pointer">
                        <img [src]="product.imageURL[0]"  width="200" height="300" alt="">
                        <div class="uk-overlay uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">{{ (product.price) | currency: 'XOF' }}</h3>
                            <p class=" text-small">{{ product.name }}</p>
                        </div>
                    </li>
                </ul>
        
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
   </div>
  </div>
</div>




<app-footer></app-footer>