<div class="uk-container">
  <a class="uk-button uk-align-right" href="#target-top" uk-icon="arrow-up" uk-scroll></a>
</div>
<div class="uk-section uk-light" id="target-down">
  <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>

          <div class="uk-flex uk-flex-start uk-flex-column">
              <img src="assets/img/logo-weni.png" class="nav-left" alt="">
              <p>Weni Store est une boutique en ligne de l'entreprise Weni.<br> </p>
          </div>

          <div class="uk-flex uk-flex-start uk-flex-column un">
              <h3 class="uk-margin-remove uk-padding-remove">Services</h3>
              <ul class="uk-margin-remove">
                  <li><a href="">Livraison</a></li>
                  <li><a href="">Vente en ligne</a></li>
              </ul>
          </div>

          <div class="uk-flex uk-flex-start uk-flex-column deux">
              <h3>Sociaux</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>

          <div class="uk-flex uk-flex-start uk-flex-column deux">
              <h3>Sociaux</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>

      </div>

  </div>

</div>
