
a
{
  color: #000;
  font-size: 0.81rem;
}

.top-categories
{
  margin-top: 5rem
}

.card {
  border-radius: 14px;
  color: white;
  padding: 0.6rem;
  height: auto;
  transition: .4s;
  box-shadow: #1450a50a 0px 6px 15px;
}

.card:hover {
  transition: .4s;

}

.top .card{
  border-radius: 14px;
  color: white;
  padding: 0.6rem;
  height: auto;
  transition: .4s;
}

.top .card:hover {
  box-shadow: #1450a573 0px 6px 15px;
  transition: .4s;
}


.uk-image {
  transition: transform .2s;
}

.uk-image:hover {
  transform: scale(0.9);
}