
a
{
  color: #000;
  font-size: 0.81rem;
}

.top-categories
{
  margin-top: 5rem
}

.card {
  border-radius: 14px;
  height: auto;
  transition: .4s;
}

.card:hover {
  transition: .4s;

}

.top .card{
  border-radius: 14px;
  color: white;
  height: auto;
  transition: .4s;
}


.uk-image {
  transition: transform .2s;
}

.uk-image:hover {
  transform: scale(0.9);
}

.mega-menu {
  width: 300px;
}


.mega-menu button {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
}

button:hover {
  color: #01bcbd;
}

@media (max-width: 996px) {
  .mega-menu {
    width: 250px;
  }

  .mega-menu button {
    font-size: 12px;
  }

}

@media (max-width: 920px) {

  .mega-menu {
    margin-top: 1rem/* 16px */;
    width: 200px;
  }
  
  
  .mega-menu button {
    padding-top: 0.2rem/* 8px */;
    padding-bottom: 0.2rem/* 8px */;
    padding-left: 0.8rem/* 16px */;
    padding-right: 0.8rem/* 16px */;
    font-size: 10px;
  }

}

@media (max-width: 702px){
  .mega-menu {
    margin-top: 0rem/* 16px */;
  }
}