<div class="grid grid-cols-2 md:grid-cols-3 gap-4" *ngFor="let product of products">
  <div>
      <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" [src]="product.imageURL[0]" alt="" (click)="goToDetailsProduct(product.id)" alt="">
  </div>
</div>